/* Styl for widget*/

.editor-wysiwyg
	box-sizing: border-box
	position: relative
	display: flex
	flex-direction: column-reverse
	kbd
		display: inline-flex
		align-items: center
		justify-content: center
		position: relative
		cursor: pointer
		width: 1.5rem
		height: 1.5rem
		color: var(--extra-color, ButtonBorder)
		svg, img, use
			width: 100%
			height: 100%
			fill: currentColor
			pointer-events: none

	nav
		display: flex
		align-items: center
		justify-content: space-between
		padding: 0px 1rem
		height: 2rem
		border-bottom: 1px solid var(--border-color, ButtonBorder)
		& > ul
			margin: 0px
			padding: 0px
			display: flex
			align-items: center
			gap: 1ex
			& > li
				display: flex
				align-items: center
				justify-content: center
				.buttons
					display: inline-flex
					align-items: center
					justify-content: space-between
					gap: 1ex
		& > aside
			display: flex
			align-items: center
			justify-content: space-between
			gap: 1ex

	iframe
		// resize: auto
		border: 0px solid transparent
		min-width: 100%
		flex-grow: 1

	details
		s
			text-decoration: none
			margin-top: .5rem
			&:before
				content: ""
				width: 1rem
				height: 1rem
				background: var( --canvas-color, Canvas )
				position: absolute
				transform: rotate(45deg) translate(.5rem, -.8rem)
				top: 0px
				z-index: 2
			&:before
				box-shadow: 0px .5rem 1rem var(--border-color, ButtonFace)
				z-index: 0
			& > *
				background: var( --canvas-color, Canvas )
				box-shadow: 0px .5rem 1rem var(--border-color, ButtonFace)
				z-index: 1
				position: relative
				padding: 1rem
				button
					height: 2rem
					justify-content: center
			& > ul
				list-style: none
				margin: .5rem 0px
				padding: .5rem 0px
				overflow: auto
				& > li
					display: flex
					align-items: center
					height: 2rem
					padding: 0px 1rem
					cursor: pointer
					&:hover
						background: var(--border-color, ButtonFace)
					&.active
						background: var(--select-color, ButtonFace)

		& > summary
			display: flex
			align-items: center
			justify-content: center
			&:after
				content: ''
				transform: translate(.2rem, .2rem) rotate(30deg)
				align-self: flex-end
				font-size: .5rem
				display: list-item
				counter-increment: list-item 0
				list-style: inside disclosure-closed
		&[open]
			s
				position: absolute
			& > summary:after
				transform: translate(.1rem, .2rem)
				list-style: inside disclosure-open